input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 
body{
    background: url(../images/fuegoGrande.jpg);
    /*background-color: rgb(5, 5, 98);*/
    background-size: cover;    
}
.contenido{
    background-color: rgba(0, 0, 0, 0.889);
    color: white;
    margin-top: 20vh;
    padding: 10px 100px 100px 100px;
    box-shadow: 10px 10px 30px black;
    border-radius: 30px;    
}
.contenido .logo:hover{    
    filter: drop-shadow(2px 2px 20px gray);
}
.contenido .logo{
    height: 150px;
}
.contenido h2{
    margin-top: 20px;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 10px rgb(67, 66, 66);
}
.contenido .formulario{
    margin-top: 25px;
}
.contenido .formulario .inpedit{
    border-radius: 50px;

}
.contenido .formulario .boton{
    background: none;
    border: none;
    color: rgb(255, 200, 2);
    height: 50px;    
}
.contenido .formulario .boton:hover{
    color: white;    
}

