<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTAQUEROS Calculador</title>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/estaqueros/css/style.css" type="text/css">
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-auto text-center contenido">
            <!-- <h1> ESTAQUEROS </h1> -->
            <img src="/estaqueros/images/logoEstaquerosBlanco.png" class="logo">
            <h2>Cantidad de personas</h2>  
            <form action="http://127.0.0.1:5000/personas" method="post" class="formulario">
                <input type="number" name="cantidad" required class="inpedit" min="1">
                <input type="submit" value="Siguiente" class="boton" id="boton" onclick="">
            </form>
        </div>
    </div>
    <script type="text/javascript">
       window.onload = function() {
       document.onmousemove = function(e) {
        var x = -(e.clientX/17);
        var y = -(e.clientY/17);
        this.body.style.backgroundPosition = x + 'px ' + y + 'px';
        };
     };
    </script>
</body>
</html>