<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/estaqueros/css/style-login.css">
    <title>Login | Estaqueros</title>
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-auto text-center login-box">
            <img class="avatar" src="/estaqueros/images/logoEstaquerosBlanco.png" alt="logo de estaqueros">
            <h1>INGRESAR</h1>
            <form>
                <!-- Usuario -->
                <label for="Usuario">Usuario</label>
                <input type="text" placeholder="Escribe tu Usuario">

                <!-- Contraseña -->
                <label for="Contraseña">Contraseña</label>
                <input type="password" placeholder="Escribe tu Contraseña">

                <!-- Boton -->
                <input type="submit" value="Comenzar">

                <a href="#">Olvidé la Contraseña</a>
                |
                <a href="#">No tengo una cuenta</a>
            </form>
        </div>
    </div>            
</body>
</html>